:root {
  --web-black: #000000;
  --web-preto: #262738;
  --web-bluedarker: #6166a8;
  --web-bluedark: #757bc8;
  --web-blue: #9fa0ff;
  --web-purple: #bbadff;
  --web-purplelight: #cbb2fe;
  --web-lilac: #dab6fc;
  --web-lilaclight: #ddbcfd;
  --web-branco: #f6edff;
  --web-white: #ffffff; /* Corrigido */
}
